In [6]:
import pandas as pd
import scipy.stats as stats
import numpy as np
import matplotlib.pyplot as plt

In [7]:
#!pip install ycimpute

Collecting ycimpute
  Downloading https://files.pythonhosted.org/packages/6c/66/30c5c103223387a3aaefa6e97bdeae08d7836e5c8501b9d09f5fb0c2534d/ycimpute-0.1.1-py2.py3-none-any.whl
Requirement already satisfied: scikit-learn>=0.17.1 in c:\users\mustafa\anaconda3\lib\site-packages (from ycimpute) (0.21.3)
Requirement already satisfied: six in c:\users\mustafa\anaconda3\lib\site-packages (from ycimpute) (1.12.0)
Requirement already satisfied: numpy>=1.10 in c:\users\mustafa\anaconda3\lib\site-packages (from ycimpute) (1.16.2)
Requirement already satisfied: scipy in c:\users\mustafa\anaconda3\lib\site-packages (from ycimpute) (1.2.1)
Requirement already satisfied: joblib>=0.11 in c:\users\mustafa\anaconda3\lib\site-packages (from scikit-learn>=0.17.1->ycimpute) (0.14.0)
Installing collected packages: ycimpute
Successfully installed ycimpute-0.1.1

In [8]:
from fancyimpute import KNN

Using TensorFlow backend.

      a     b       c
0  40.0  40.0  4000.0
1   NaN  50.0  5000.0
2  30.0   NaN  3000.0
3   NaN   NaN     NaN

In [15]:
names=d.columns.copy()

In [16]:
names

Index(['a', 'b', 'c'], dtype='object')

In [21]:
knn_impute=KNN(k=2).fit_transform(d)

Imputing row 1/4 with 0 missing, elapsed time: 0.028
[KNN] Warning: 3/12 still missing after imputation, replacing with 0

In [25]:
n=pd.DataFrame(knn_impute)
n.columns=names

In [26]:
n

           a          b       c
0  40.000000  40.000000  4000.0
1  38.888789  50.000000  5000.0
2  30.000000  41.111208  3000.0
3   0.000000   0.000000     0.0

In [27]:
d

      a     b       c
0  40.0  40.0  4000.0
1   NaN  50.0  5000.0
2  30.0   NaN  3000.0
3   NaN   NaN     NaN

In [32]:
from ycimpute.imputer import knnimput

In [40]:
arr=np.array(d)
kx=knnimput.KNN(k=2).complete(arr)

Imputing row 1/4 with 0 missing, elapsed time: 0.001
[KNN] Warning: 3/12 still missing after imputation, replacing with 0

In [41]:
pd.DataFrame(kx)

           0          1       2
0  40.000000  40.000000  4000.0
1  38.888789  50.000000  5000.0
2  30.000000  41.111208  3000.0
3        NaN        NaN     NaN

In [42]:
from ycimpute.imputer import iterforest

In [45]:
ix=iterforest.IterImput().complete(np.array(d))

C:\Users\Mustafa\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [47]:
nx=pd.DataFrame(ix)
nx.columns=names

In [66]:
from ycimpute.imputer import EM

TypeError: complete() missing 1 required positional argument: 'X'

In [75]:
a=[40,np.NaN,30,np.NaN]
b=[40,50,np.NaN,np.NaN]
c=[4000,5000,3000,np.NaN]
d=pd.DataFrame({"a":a,"b":b,"c":c})
d
f=EM().complete(np.array(d))

In [57]:
pd.DataFrame(ex)

      0     1       2
0  40.0  40.0  4000.0
1   NaN  50.0  5000.0
2  30.0   NaN  3000.0
3   NaN   NaN  4000.0