# Listler

In [32]:
liste=[0,10,20,30,40,50,60]
liste[0:len(liste):3]
liste[0:-1]
liste[::-1]
liste=(1,2,3)
type(liste)
import  pandas as pd
s = pd.Series([3, -5, 7, 4],  index=['a',  'b',  'c',  'd'])
s

a    3
b   -5
c    7
d    4
dtype: int64

In [37]:
data = {'Country': ['Belgium',  'India',  'Brazil'],

'Capital': ['Brussels',  'New Delhi',  'Brasilia'],

'Population': [11190846, 1303171035, 207847528]}
df = pd.DataFrame(data,columns=['Country',  'Capital',  'Population'])
df

   Country    Capital  Population
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasilia   207847528