In [2]:
import numpy as np
import pandas as pd
import seaborn as sns

In [3]:
df=pd.read_csv("Advertising.csv")

In [4]:
df.head()

   Unnamed: 0     TV  radio  newspaper  sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [5]:
df.drop("Unnamed: 0",axis=1,inplace=True)

In [7]:
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [8]:
from sklearn.linear_model import LinearRegression

In [10]:
lr=LinearRegression()

In [14]:
x=df[["TV"]]
y=df[["sales"]]
y.head()

   sales
0   22.1
1   10.4
2    9.3
3   18.5
4   12.9

In [15]:
model=lr.fit(x,y)

In [19]:
model.score(x,y)

0.611875050850071

In [22]:
model.intercept_

array([7.03259355])

In [24]:
model.coef_

array([[0.04753664]])

In [33]:
from sklearn.metrics import mean_absolute_error,mean_squared_error,median_absolute_error,r2_score

In [28]:
mean_absolute_error(x,model.predict(x))

133.1346226540409

In [30]:
mean_squared_error(x,model.predict(x))

24347.712147084345

In [32]:
median_absolute_error(x,model.predict(x))

135.5987945460276

In [35]:
r2_score(x,model.predict(x))

-2.319797694175413

In [45]:
import numpy as np
from sklearn import linear_model
clf = linear_model.SGDRegressor(max_iter=1000, tol=1e-3)
md=clf.fit(x, y)
np.round(md.coef_,2)

C:\Users\Mustafa\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([-1.13508254e+11])

In [47]:
md.score

<bound method RegressorMixin.score of SGDRegressor(alpha=0.0001, average=False, early_stopping=False, epsilon=0.1,
             eta0=0.01, fit_intercept=True, l1_ratio=0.15,
             learning_rate='invscaling', loss='squared_loss', max_iter=1000,
             n_iter_no_change=5, penalty='l2', power_t=0.25, random_state=None,
             shuffle=True, tol=0.001, validation_fraction=0.1, verbose=0,
             warm_start=False)>