# Crossover Point Selection

In [57]:
import random as rnd
kro1=[1,4,5,6]
kro2=[9,10,8,7]
#9,10,5,6
#1,4,8,7
for i in range(1,15):
    point=rnd.randint(1,len(kro1))
    print("Secilen Nokta ={} ".format(point))
    child1=kro1.copy()
    child2=kro2.copy()
    child1[0:point]=kro2[0:point]
    child2[0:point]=kro1[0:point]

    print(" {} {} ".format(child1,child2))

Secilen Nokta =1
 [9, 4, 5, 6] [1, 10, 8, 7]
Secilen Nokta =1
 [9, 4, 5, 6] [1, 10, 8, 7]
Secilen Nokta =1
 [9, 4, 5, 6] [1, 10, 8, 7]
Secilen Nokta =1
 [9, 4, 5, 6] [1, 10, 8, 7]
Secilen Nokta =4
 [9, 10, 8, 7] [1, 4, 5, 6]
Secilen Nokta =2
 [9, 10, 5, 6] [1, 4, 8, 7]
Secilen Nokta =3
 [9, 10, 8, 6] [1, 4, 5, 7]
Secilen Nokta =2
 [9, 10, 5, 6] [1, 4, 8, 7]
Secilen Nokta =1
 [9, 4, 5, 6] [1, 10, 8, 7]
Secilen Nokta =1
 [9, 4, 5, 6] [1, 10, 8, 7]
Secilen Nokta =1
 [9, 4, 5, 6] [1, 10, 8, 7]
Secilen Nokta =2
 [9, 10, 5, 6] [1, 4, 8, 7]
Secilen Nokta =3
 [9, 10, 8, 6] [1, 4, 5, 7]
Secilen Nokta =2
 [9, 10, 5, 6] [1, 4, 8, 7]

In [21]:
d={"ad":[0,0,0,0],"soyad":(7,8,9)}
d
for key,val in d.items():
    print("{} : {} ".format(key,val))

ad : [0, 0, 0, 0]
soyad : (7, 8, 9)

In [60]:
def üstal(x=0,y=1):
    return x**y
üstal(8,9)

134217728

In [61]:
def summarize(liste=[]):
    if(len(liste)>0):
        return sum(liste)
    else:
        return 0

In [77]:
summarize([4,5,8])
liste=[]
for i in range(1,100):
    liste.append(i)  
len(liste)
liste=["ali","veli"]

In [94]:
def al(x=1):
    return (x**2,x**3,x**40)

kare,kup,dort=al(5)
print(kare)
print(kup)
print(dort)

25
125
9094947017729282379150390625